name: CI

permissions: {}

on:
  push:
    branches:
      - main
  pull_request:

env:
  CHART_NAME: charts/nginx-sandbox

jobs:
  build:
    name: Run
    permissions:
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f
      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4

      - name: Run helm lint
        uses: WyriHaximus/github-action-helm3@e3894d973c282349e3d41d3347767f2b2545b583 # v4.0.2
        with:
          exec: helm lint --strict "$CHART_NAME"

      - name: Run chart-testing (lint)
        env:
          TARGET_BRANCH: ${{ github.event.repository.default_branch }}
        run: ct lint --charts "$CHART_NAME" --target-branch $TARGET_BRANCH

      - name: Create kind cluster
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0

      - name: Run chart-testing (install)
        env:
          TARGET_BRANCH: ${{ github.event.repository.default_branch }}
        run: ct install --charts "$CHART_NAME" --target-branch $TARGET_BRANCH
