name: Release

permissions: {}

on:
  push:
    branches:
      - main
    paths:
      - 'charts/**'

jobs:
  release:
    permissions:
      contents: write
      packages: write
    name: Release
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: v3.18.6
      - name: Login to ghcr
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@cae68fefc6b5f367a0275617c9f83181ba54714f # v1.7.0
        with:
          skip_existing: true
        env:
          CR_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
      - name: Push to ghcr
        run: |
          set -x
          remote_url="oci://ghcr.io/berquerant/k8s-nginx-sandbox/charts"
          find .cr-release-packages -type f | while read -r package ; do
            name="$(helm show chart "$package" | yq .name)"
            version="$(helm show chart "$package" | yq .version)"
            if ! helm pull "${remote_url}/${name}:${version}" ; then
              helm push "$package" "$remote_url"
            fi
          done
