name: Snapshot

permissions: {}

on:
  push:
    branches:
      - main
  pull_request:

env:
  CHART_NAME: nginx-sandbox

jobs:
  generate-matrix:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs:
      values: ${{ steps.set-matrix.outputs.values }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: generate matrix values
        id: set-matrix
        run: echo "values=$(.github/generate-snapshot-matrix.sh)" >> "$GITHUB_OUTPUT"

  generate-manifests:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: generate manifests
        run: |
          tests/generate.sh gen "$CHART_NAME" generated
          mv tests/${CHART_NAME}/generated .
      - name: upload manifests
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: generated-manifests
          path: generated
          retention-days: 1

  test:
    needs:
      - generate-matrix
      - generate-manifests
    permissions:
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        value: ${{ fromJson(needs.generate-matrix.outputs.values) }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: download artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: generated-manifests
          path: generated
      - name: move golden
        run: mv tests/${CHART_NAME}/golden .
      - name: objdiff
        uses: berquerant/k8s-object-diff@9360b93166f36e5147e1abfeaf5a62b3837ed7bd # v0.3.0
        id: objdiff
        with:
          left: golden/${{ matrix.value }}
          right: generated/${{ matrix.value }}
          fail-on-diff: true
